.justify-between {
	justify-content:space-between;
}
.nav-tabs .nav-link {
	font-size: 13px;
    padding: 5px 10px;
}
.ticket-purpose{
	padding: 10px !important;
}
.timeline-panel{
	padding: 10px !important;
}
.attached-files{
	padding: 10px !important;
}